.themes/reusex/assets/css/main.css

[data-theme="light"] {
    --section1-bg: #D2D2CD;
    --section2-bg: #F5F4F0;
    --section3-bg: #F5F4F0;
}

[data-theme="dark"] {
   --section1-bg: #000;
   --section2-bg: #333;
   --section3-bg: #444;
}